*              @mdkinney
/.github/**    @mdkinney
/.mergify/**   @makubacki
/MdePkg/**     @miki-intel-work
/BaseTools/**  @miki-intel-work @makubacki
/Readme.md     @mdkinney @miki-intel-work @makubacki
