*              @mdkinney
/.github/**    @miki-intel-work
/.mergify/**   @mdkinney
/MdePkg/**     @makubacki
/BaseTools/**  @miki-intel-work @makubacki
/ReadMe.rst    @mdkinney @miki-intel-work @makubacki
